# Terraform state files
*.tfstate
*.tfstate.*

# Terraform plan files
*.tfplan

# Terraform variables
*.tfvars

# Local .terraform directory
.terraform/

# IDE-specific files
*.swp
*.swo
.idea/
.vscode/

# Logs
*.log

# Operating system files
.DS_Store
Thumbs.db

